<div class="widget tag">
	<h3 class="title">友情链接</h3>
	<ul class="entry">
		<li>
			<a href="https://1ike.cc/" title="麦田的个人站">麦田个人站</a>
		</li>
		<li>
			<a href="https://lamp.sh" title="lamp.sh">LAMP一键脚本</a>
		</li>
	</ul>
</div>